
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e0eafc, #cfdef3); 
    color: #333;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

section {
    margin-top: 40px;
    background: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
}



.profile-pic {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-pic img {
    max-width: 100%;
    height: auto;
}

.profile-pic:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


a {
    color: #ff5851;
    text-decoration: none;
}

a:hover {
    color: #fa3e3e;
    border-bottom: 2px solid #fa3e3e;
}
